## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
a = pow(7,4)
print(a)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
a = s.split(" ")
print(a)

['Hi', 'there', 'Sam!']

In [ ]:
s = "Hi there dad!"
a = s.split(" ")
print(a)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
txt = "The diameter of the {0} is {1} Kilometers".format(planet,diameter)
print(txt)

The diameter of the Earth is 12742 Kilometers

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [11]:
tup = (1,2,3,4,5)
lst = [1,2,3,4,5]
# Tuple -immutable, List - mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
s = input()

user@domain.com

In [ ]:
a = s.split("@")
print(a[1])

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

In [ ]:
st = input("Please key a string: >")
findDog(st)

Please key a string: >dog
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [9]:

def countdogs(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

In [10]:
st  = input("Enter a string")
countdogs(st)

Enter a stringDogdog

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(100,"26/07/2001")

'Big Ticket'

In [ ]:
caught_speeding(80,"17/10/2001")

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [8]:
employee = ["e1","e2","e3","e4","e5",[10000,20000,25000,30000,40000,45000]]
sum=0

print("Employee's Salary:")
for i in range(0,5):
  print(employee[5][i])
print("Total Salary Expenditure :")
for i in range(0,5):
  sum = sum+employee[5][i]
print(sum)

Employee's Salary:
10000
20000
25000
30000
40000
Total Salary Expenditure :
125000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
dict1 = {"Empid ": 12,"Empname" : "kavin","Basicpay":50000}
dict2 = {"DeptName" :"IT", "Deptid" : 158}
print({**dict1,**dict2})

{'Empid ': 12, 'Empname': 'kavin', 'Basicpay': 50000, 'DeptName': 'IT', 'Deptid': 158}